.sidebar h1 {
  font-size: 25px;
  color: white;
  padding: 8px 20px;
}

.bg-green:hover {
  background: #00AC96 !important;
}

.bg-purple:hover {
  background: #727CE6 !important;
}

.channel-resource-list {
  margin-bottom: 30px;
}

.border-panel {
  border: 1px solid #242a30;
}

/* CSS for buttons on Channel Creation Page */

.github{
  background-image:url(/images/github.png);
}

.trello{
  background-image:url(/images/trello.png);
}

.bitbucket{
  background-image:url(/images/bitbucket.png);
}

.yandex{
  background-image:url(/images/yandex.png);
}

.service-link{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:150px;
    height:50px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.service-link:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


/* CSS for Profile page form */
.form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.sidebar-addchannel span:hover {
  color: #00acac;
}

/*fix css from color admin*/
.media-list.media-list-with-divider > li + li {
  padding-top: 0;
}

/* Channel feed tab */
.grey-text {
  color: grey;
}
.channel__resource-block {
  margin-bottom: 15px;
  border: solid 1px rgba(77, 202, 202, 0.2);
  border-radius: 5px;
  /*padding: 10px;*/
}

.channel__resource-block:hover {
  background: rgba(77, 202, 202, 0.2);
}

.channel__show-details{
  cursor: pointer;
}

.channel__show-details:hover{
  color: Black;
}

/* Channel feed tab details */
.channel-details__header {
  width: 350px;
  border-bottom: 2px solid #4DCACA;
}

.channel-details__author {
  position: relative;
}

.channel-details__author i {
  position: absolute;
  bottom: -70px;
  left: 20px;

  font-size: 70px;
  color: #4DCACA;
}

.channel-block__comment-wrapper {
  margin-bottom: 20px;
}

.line-break{
  white-space: pre-wrap;
}

.channel-block__accordion {
  border: solid 1px rgba(77, 202, 202, 0.2);
}

.channel-block__accordion-header {
  color: black;
  background-color: rgba(77, 202, 202, 0.2);
}

.commit__green-line {
  background-color: rgba(234, 255, 234, 0.8);
}

.commit__red-line {
  background-color: #ffecec;;
}

.commit__grey-line {
  background-color: #f4f7fb;;
}

.message__unseen {
  font-weight: 600;
}

.tabulation {
  white-space: pre-wrap;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.radio-inline{font-weight: 300;}


/* Contacts page */
.registered-users-list > li {
  position: relative;
  width: 100px;
  text-align: center;
}

.registered-users-list button {
  margin-bottom: 5px;
}

.registered-users-list small {
  margin-bottom: 5px;
}

.contacts__remove-contact {
  position: absolute;
  top: 0;
  right: 0;
}

/* Channel Members tab */
.channel__member {
  position: relative;
}

.channel__remove-member {
  position: absolute;
  top: 0;
  right: 0;
}

.channel-members__accordion {
  /*border: solid 1px black;*/
}

.channel-members__accordion-header {
  background-color: #929ba1;
}

.channel-members__accordion .accordion-body {
  background: #f0f3f4;
}

.channel-members__accordion h3 {
  color: white;
}

.channel__add-member label {
  font-size: 15px;
  font-weight: 600;
}

.channel__associated-emails{
  list-style-type: none;
}

.channel__associated-emails-element{
  padding:10px;
}

pre {
  padding: 0 !important;
  margin: 0;
  white-space: normal;
  border: none !important;
  background-color: transparent;
}

code {
  background-color: transparent;
}

.hljs {
  background-color: transparent;
  padding: 0;
}

.deletion{
  background-color: #ffecec;
}

.addition{
  background-color: #eaffea;
}

.patchinfo{
  background-color: #f4f7fb;
  color: rgba(0, 0, 0, 0.3) !important;
}

.end{
  color: #E41212;
}

.block__code-line::before {
    content: '';
}

.block__code-line{
  padding: 0 20px;
  overflow: hidden;
  white-space: pre-wrap;
}

.pre br{
  display: none;
}

.highlight-table{
  width: 100%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.stats-info h4{
  text-transform: uppercase;
}

.stats-info span{
  font-style: italic;
  font-weight: 800;
}

.user-avatar {
  position: relative;

  height: 433px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  background: white;
}

.user-avatar__link {
  display: block;
  overflow: hidden;
  height: 100%;
}

.user-avatar__img {
  max-width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border: 2px solid #E2E7EB;
}

.user-avatar:hover .user-avatar__edit {
  bottom: 0;
}

.user-avatar__edit {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;

  width: 100%;
  height: 50px;
  padding: 15px 0;

  color: white;
  background: rgba(0, 0, 0, 0.4);

  transition: 0.3s ease;
}

.user-avatar__edit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.profile-edit-btn {
  transition: 0.3s ease;
}

.profile-edit-close {
  display: none;
}

.profile input {
  border: none;
}

.profile select {
  border: none;
}

.profile .user-info-edit {
  display: none;
}

.profile-edit .user-info-edit {
  display: block;
}

.profile-edit .profile-edit-close {
  display: block;
}

.profile-edit .table-profile {
  display: none;
}

.profile-edit input {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-edit select {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-edit .profile-edit-btn {
  display: none;
}

.delete-user {
  margin-top: 2px;
}

.service-name {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

.services-table td div{
  padding: 10px;
}

.services-table .service-name {
  padding-top: 20px;
}

.services-table .service-action {
  padding-top: 11px;
}
