.sidebar h1 {
  font-size: 25px;
  color: white;
  padding: 8px 20px;
}

.bg-green:hover {
  background: #00AC96 !important;
}

.bg-purple:hover {
  background: #727CE6 !important;
}

.channel-resource-list {
  margin-bottom: 30px;
}

.channel__member {
  position: relative;
}

.channel__remove-member {
  position: absolute;
  top: 0;
  right: 0;
}

.border-panel {
  border: 1px solid #242a30;
}
