// Typography
$font-stack:  sans-serif;
$font-size:   14px;
$line-height: 22px;

//
//
// Viewport size
$screen_md: 568px;
$screen_lg: 960px;
$screen_xl: 1200px;


//
//
// Colors

$dark-bg: #2c3039;
