<template name="channel">

<div class="channel__wrapper">

  <h1 class="page-header">{{name}}</h1>

  <div class="row">

      <ul class="nav nav-tabs nav-tabs-inverse">
        <li class="active">
          <a href="#feed" data-toggle="tab" aria-expanded="true">Feed</a>
        </li>
        <li>
          <a href="#members" data-toggle="tab" aria-expanded="false">Members</a>
        </li>
        <li>
          <a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane fade active in" id="feed">
          {{#if contentLoaded}}
          <ul class="media-list media-list-with-divider">
            {{#each channelFeed}}
            <li class="media media-sm channel__resource-block">
              {{> previewTemplate}}
            </li>
            {{/each}}
          </ul>

          <ul class="pager">
            <li><a href="" class="previous-link">Prev</a></li>
            <li><a href="" class="next-link">Next</a></li>
          </ul>

          {{else}}
            {{> loading}}
          {{/if}}
        </div>

        <div class="tab-pane fade" id="members">
          {{#if userIsChannelCreator ..}}
          <div class="row m-t-20 m-b-20">
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-inverse">

                <form class="form-inline channel__add-member">
                  <fieldset>

                    <div class="checkbox m-r-10">
                      <label for="contacts-list">Add users to channel:</label>
                    </div>

                    <div class="form-group m-r-10">
                      <input type="text" class="channel__member-input form-control">
                    </div>

                    <div class="form-group">
                      <input class="btn btn-primary" type="submit" value="Add">
                    </div>

                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          {{/if}}

          <div class="row">
            <div class="channel__creator panel m-t-15 m-l-15">
              {{#if channelCreator}}

                <p class="lead m-l-15">Channel creator:</p>

                {{#unless channelCreator.personalData.picPath}}
                <img src="/images/user.png" alt="User Picture">
                {{else}}
                <img src="/upload/{{channelCreator.personalData.picPath}}" alt="User Picture">
                {{/unless}}

                <h4>
                  {{channelCreator.personalData.firstName}} {{channelCreator.personalData.lastName}}
                  <small>({{channelCreator.username}})</small>
                </h4>
              {{/if}}
            </div>
          </div>

          <div class="row">
            <div class="panel m-t-15">
              <p class="lead m-l-15">Channel members:</p>
              <ul class="registered-users-list clearfix">

                {{#each members}}
                  <li class="channel__member">

                    {{#unless personalData.picPath}}
                    <img src="/images/user.png" alt="User Picture">
                    {{else}}
                    <img src="/upload/{{personalData.picPath}}" alt="User Picture">
                    {{/unless}}

                    <h4 class="username text-ellipsis">
                      {{personalData.firstName}} {{personalData.lastName}}
                      <small>({{username}})</small>
                    </h4>

                    {{#if userIsChannelCreator ..}}
                    <a data-userid={{_id}} class="channel__remove-member btn btn-danger btn-icon btn-circle" href="delete">
                      <i class="fa fa-times"></i>
                    </a>
                    {{/if}}
                  </li>
                {{/each}}

              </ul>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="settings">
          {{#if userIsChannelCreator ..}}
            {{#if showAuthServiceButton}}
            <div>
              {{> authTemplate clientkey}}
            </div>
            {{else}}
            <div class="row m-t-20 m-b-20">
              <div class="col-sm-12 col-md-6">
                <div class="panel panel-inverse">

                  <form class="form-inline channel__change-name">
                    <fieldset>

                      <div class="checkbox m-r-10">
                        <label for="contacts-list">Change channel name:</label>
                      </div>

                      <div class="form-group m-r-10">
                        <input type="text" class="channel__new-name form-control">
                      </div>

                      <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Ok">
                      </div>

                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
            <div>
              <a class="channel__delete btn btn-danger m-t-15 m-b-15" href="#">Delete Channel</a>
            </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
  </div>
</div>
</template>
