<template name="channelInvites">

  <div class="row m-b-30">
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Invite users by email</h4>
        </div>

        <div class="panel-body">

          <form class="">

            <!-- <div class="form-group">
              <label for="email-field">Enter email:</label>
            </div> -->

            <div class="form-group">
              <input type="email" id="email-field" name="email" class="form-control">
            </div>

            <div class="form-group">
              <input class="btn btn-primary btn-block pull-right" type="submit" value="Invite">
            </div>

          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Sent invites</h4>
        </div>

        <div class="panel-body p-t-10 p-b-10">
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Revoke</th>
              </tr>
            </thead>
            <tbody>
              {{#each invitation}}
              <tr>
                <td>{{email}}</td>
                <td>
                  <button class="btn btn-xs btn-warning revoke-invite">Revoke</button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</template>
