<template name="channel">

<div class="channel__wrapper">

  <h1 class="page-header">Channel - {{name}}</h1>

  <div class="row">

      <ul class="nav nav-tabs nav-tabs-inverse">
        <li class="active">
          <a href="#feed" data-toggle="tab" aria-expanded="true">Feed</a>
        </li>
        <li>
          <a href="#members" data-toggle="tab" aria-expanded="false">Members</a>
        </li>
        <li>
          <a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a>
        </li>
      </ul>

      <div class="tab-content">

        {{#if contentLoaded}}
        <div class="tab-pane fade active in" id="feed">
          <ul class="media-list media-list-with-divider">
            {{#each channelFeed}}
            <li class="media media-sm channel__resource-block">
              {{> previewTemplate}}
            </li>
            {{/each}}
          </ul>

          <a href="" class="previous-link">Prev</a>
          <a href="" class="next-link">Next</a>
        </div>
        {{else}}
          {{> loading}}
        {{/if}}

        <div class="tab-pane fade" id="members">

          <div class="row">
            <div class="panel m-t-15">
              <ul class="registered-users-list clearfix">

                {{#each members}}
                  <li class="channel__member">
                    <img src="../images/user.png" width="80" height="80" alt="User avatar">
                    <h4 class="username text-ellipsis">
                      {{profile.firstName}} {{profile.lastName}}
                      <small>({{username}})</small>
                    </h4>

                    {{#if userIsChannelCreator ..}}
                    <a data-userid={{_id}} class="channel__remove-member btn btn-danger btn-icon btn-circle" href="delete">
                      <i class="fa fa-times"></i>
                    </a>
                    {{/if}}

                  </li>
                {{/each}}

              </ul>
            </div>
          </div>

          {{#if userIsChannelCreator ..}}
          <div class="row m-b-20">
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-inverse">

                <form class="form-inline channel__add-member">
                  <fieldset>

                    <div class="checkbox m-r-10">
                      <label for="contacts-list">Add users to channel:</label>
                    </div>

                    <div class="form-group m-r-10">
                      <select class="form-control p-l-10 p-r-10" id="contacts-list" name="user-to-channel">
                        {{#each contacts}}
                          <option value="{{_id}}">{{profile.firstName}} {{profile.lastName}} ({{username}})</option>
                        {{/each}}
                      </select>
                    </div>

                    <div class="form-group">
                      <input class="btn btn-primary" type="submit" value="Add">
                    </div>

                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if userIsChannelCreator ..}}
          <div class="panel-group" id="accordion">

      			<div class="panel overflow-hidden channel-members__accordion">

      				<div class="panel-heading channel-members__accordion-header">
      					<h3 class="panel-title">
        					<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#invite" aria-expanded="false">
                    <span class="f-s-15">Invites interface</span>
                    <i class="fa fa-plus-circle pull-right"></i>
                    <span class="pull-right">Click to open/close</span>
        					</a>
      					</h3>
      				</div>

      				<div id="invite" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
      					<div class="panel-body accordion-body">

                  {{> channelInvites}}

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="panel panel-inverse">

                        <div class="panel-heading">
                          <h4 class="panel-title">E-mails associated with your channel source</h4>
                        </div>

                        <div class="panel-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Service login</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each emails}}
                              <tr>
                                <td>{{login}}</td>
                                <td>{{email}}</td>
                                <td>{{outputType}}</td>
                                <td>

                                  {{#if equals emailType 'member'}}
                                    <button class="btn btn-xs btn-primary channel__add-contact-to-channel" id="{{userId}}">Add to channel</button>
                                  {{/if}}

                                  {{#if equals emailType 'registered'}}
                                    <button class="btn btn-xs btn-primary channel__invite-registered" id="{{userId}}">Add to channel</button>
                                  {{/if}}

                                  {{#if equals emailType 'unregistered'}}
                                    <button class="btn btn-xs btn-primary channel__invite-unregistered" id="{{userId}}">Invite to service</button>
                                  {{/if}}
                                </td>
                              </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

      					</div>
      				</div>

      			</div>
      		</div>
          {{/if}}
        </div>

        <div class="tab-pane fade" id="settings">
          {{#if userIsChannelCreator ..}}
            {{#if showAuthServiceButton}}
            <div>
              {{> authTemplate clientkey}}            
            </div>
            {{else}}
              <div>
                <a class="channel__delete btn btn-danger m-t-15 m-b-15" href="#">Delete Channel</a>            
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
  </div>
</div>
</template>
