<template name="channel">

<div class="channel__wrapper">

  <h1 class="page-header">{{name}}</h1>

  <div class="row">

      <ul class="nav nav-tabs nav-tabs-inverse">
        <li class="active">
          <a href="#feed" data-toggle="tab" aria-expanded="true">Feed</a>
        </li>
        <li>
          <a href="#members" data-toggle="tab" aria-expanded="false">Members</a>
        </li>
        <li>
          <a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane fade active in" id="feed">
          {{#if contentLoaded}}
          <ul class="media-list media-list-with-divider">
            {{#each channelFeed}}
            <li class="media media-sm channel__resource-block">
              {{> previewTemplate}}
            </li>
            {{/each}}
          </ul>

          <a href="" class="previous-link">Prev</a>
          <a href="" class="next-link">Next</a>
          {{else}}
            {{> loading}}
          {{/if}}
        </div>

        <div class="tab-pane fade" id="members">

          <div class="row">
            <div class="panel m-t-15">
              <ul class="registered-users-list clearfix">

                {{#each members}}
                  <li class="channel__member">
                    <img src="../images/user.png" width="80" height="80" alt="User avatar">
                    <h4 class="username text-ellipsis">
                      {{profile.firstName}} {{profile.lastName}}
                      <small>({{username}})</small>
                    </h4>

                    {{#if userIsChannelCreator ..}}
                    <a data-userid={{_id}} class="channel__remove-member btn btn-danger btn-icon btn-circle" href="delete">
                      <i class="fa fa-times"></i>
                    </a>
                    {{/if}}

                  </li>
                {{/each}}

              </ul>
            </div>
          </div>

          {{#if userIsChannelCreator ..}}
          <div class="row m-b-20">
            <div class="col-sm-12 col-md-6">
              <div class="panel panel-inverse">

                <form class="form-inline channel__add-member">
                  <fieldset>

                    <div class="checkbox m-r-10">
                      <label for="contacts-list">Add users to channel:</label>
                    </div>

                    <div class="form-group m-r-10">
                      <input type="text" class="channel__member-input form-control">
                    </div>

                    <div class="form-group">
                      <input class="btn btn-primary" type="submit" value="Add">
                    </div>

                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          {{/if}}
        </div>

        <div class="tab-pane fade" id="settings">
          {{#if userIsChannelCreator ..}}
            {{#if showAuthServiceButton}}
            <div>
              {{> authTemplate clientkey}}            
            </div>
            {{else}}
              <div>
                <a class="channel__delete btn btn-danger m-t-15 m-b-15" href="#">Delete Channel</a>            
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
  </div>
</div>
</template>
