<template name="channelList">

  <h1 class="page-header">
    Channels
    <div class="clearfix">
      <a class="btn btn-primary btn-lg pull-right" href="{{pathFor route='addchannel'}}">Create new channel</a>
    </div>
  </h1>


  <div class="row panel bg-white m-b-30">

    <h4 class="m-20">My channels</h4>

    {{#each channels}}
      <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
          <div class="stats-icon"><i class="{{icon}}"></i></div>
          
          <div class="stats-info channel-name">
            <h4>{{name}}</h4>
            created by <span>{{channelHost createdBy}}</span>
          </div>

          <div class="stats-link">
            <a href="{{pathFor route='channel'}}">View details</a>
          </div>

        </div>
      </div>
    {{/each}}

  </div>

  <div class="row panel bg-white m-t-20">

    <h4 class="m-20">Guest channels</h4>

    {{#each guestchannels}}
      <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">

          <div class="stats-icon"><i class="fa fa-{{serviceType}}"></i></div>

          <div class="stats-info channel-name">
            <h4>{{name}}</h4>
            created by <span>{{channelHost createdBy}}</span>
          </div>

          <div class="stats-link">
            <a href="{{pathFor route='channel'}}">View details</a>
          </div>

        </div>
      </div>
    {{/each}}

  </div>

</template>
