
.login {

  &__inner {
    @include container();
  }

  & label {
    display: inline-block;
    width: 120px;
  }

  & input {
    display: inline-block;
    width: 150px;
  }

  & input[type=submit] {
    width: 30%;
  }
}
