
.resource {

  &__inner {
    @include container();
  }

  &__header {
    font-size: 0;
  }

  &__name {
    display: inline-block;
    margin: 0;
    margin-right: 30px;
    font-size: $font-size + 20px;
  }

  &__functions {
    display: inline-block;
    font-size: $font-size;
  }

  &__functions a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
  }

  &__functions a:hover {
    text-decoration: underline;
  }
}
