<template name="profile">

  <h1 class="page-header">
    Profile
  </h1>

  <div class="profile">
    <div class="row">
      <div class="col-xs-10">
        <div class="panel">
          <div class="panel-body">
            <div class="row">

              <div class="col-xs-4">
                
                <div class="user-avatar text-center m-b-20">
                  <a href="{{pathFor route='profileEdit'}}" class="user-avatar__link">
                    {{#unless currentUser.personalData.picPath}}
                    <img class="user-avatar__img" src="/images/user.png" alt="User Picture">
                    {{else}}
                    <img class="user-avatar__img" src="/upload/{{currentUser.personalData.picPath}}" alt="User Picture">
                    {{/unless}}
                    <span class="user-avatar__edit">Change Picture</span>
                  </a>
                </div>

              </div>

              <div class="col-xs-8">

                <div class="clearfix">
                  <a href="{{pathFor route='profileEdit'}}" class="profile-edit-btn btn btn-link pull-right">Edit</a>
                </div>

                <table class="table table-profile">
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <h4>{{currentUser.personalData.firstName}} {{currentUser.personalData.lastName}}</h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="field">ID</td>
                      <td><i class="fa fa-user fa-lg m-r-5"></i>{{currentUser.username}}</td>
                    </tr>
                    <tr class="highlight">
                      <td class="field">Contact Info</td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="field">E-mail</td>
                      <td>
                        <i class="fa fa-at fa-lg m-r-5"></i>
                        <a href="mailto:{{currentUser.emails.[0].address}}">{{currentUser.emails.[0].address}}</a>
                        {{#unless currentUser.emails.[0].verified}}
                        <span class="label label-warning">Need to verify</span>
                        <a class="resend-verification-link btn btn-link f-s-12" href="#">Resend verification link</a>
                        {{else}}
                        <span class="label label-success">Verified</span>
                        {{/unless}}
                      </td>
                    </tr>
                    <tr>
                      <td class="field">Phone</td>
                      <td><i class="fa fa-phone fa-lg m-r-5"></i> {{currentUser.personalData.phone}}</td>
                    </tr>
                    <tr>
                      <td class="field">Skype</td>
                      <td><i class="fa fa-skype fa-lg m-r-5"></i> <a href="skype:{{currentUser.personalData.skype}}">{{currentUser.personalData.skype}}</a></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr class="highlight">
                      <td class="field">Personal Info</td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="field">Location</td>
                      <td>{{currentUser.personalData.location}}</td>
                    </tr>
                    <tr>
                      <td class="field">Gender</td>
                      <td>{{currentUser.personalData.gender}}</td>
                    </tr>
                    <tr>
                      <td class="field">Birthdate</td>
                      <td>{{currentUser.personalData.bday}}</td>
                    </tr>
                    </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h4 class="panel-title">Services</h4>
          </div>

          <div class="panel-body">

            <!-- <div>
              {{> example}}
            </div> -->

            <table class="table services-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each currentUser.serviceTokens}}
                <tr>
                  <td class="service-name">{{serviceName}}</td>
                  <td class="service-status">
                    {{#if token}}
                    <div class="alert alert-success fade in text-center">
                      <span class="f-w-600">ON</span>
                     </div>
                    {{else}}
                    <div class="alert alert-info fade in text-center">
                      <span class="f-w-600">OFF</span>
                    </div>
                    {{/if}}
                  </td>
                  <td class="service-action">
                    {{#if token}}
                    <button type="button" id="{{serviceName}}" class="sign-out-service btn btn-white">
                      Disconnect "{{serviceName}}"
                    </button>
                    {{else}}
                    <a class="btn btn-white" href="{{pathFor route='addchannel'}}">Connect service and create new channel</a>
                    {{/if}}
                </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
