<template name="profileEdit">

  <h1 class="page-header">Edit user profile</h1>

  <div class="row">
    <div class="col-xs-10">
      <div class="panel panel-inverse p-20">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-6">

              <div class="m-b-20" id="image-upload">
                  <span class="lead">Upload new picture:</span>
              </div>
              {{> upload_bootstrap fileTypes='image/*' formData=myFormData}}

              <div class="m-t-20 m-b-20 user-image text-center">
                <div class="m-b-20 text-left">
                  <span class="lead">Current picture:</span>
                </div>
                {{#unless currentUser.personalData.picPath}}
                <img src="/images/user.png" alt="User Picture">
                {{else}}
                <div class="m-b-20">
                  <img class="user-uploaded-img" src="/upload/{{currentUser.personalData.picPath}}" width="300" alt="User Picture">
                </div>
                <div>
                  <p class="m-b-10 f-s-14 invisible"><em>Select area to crop and press OK</em></p>
                  <button id="cropUserPic" class="btn btn-info pull-left">Crop Picture</button>
                  <button id="deleteUserPic" class="btn btn-danger pull-right">Delete Picture</button>
                  <button id="acceptCrop" class="btn btn-info pull-left hidden">Ok</button>
                  <button id="cancelCrop" class="btn btn-danger pull-right hidden">Cancel</button>
                </div>

                {{/unless}}
              </div>

            </div>

            <div class="col-xs-6">

              <div class="m-b-20 m-l-20"><span class="lead">Update info:</span></div>

              <form class="user-info-edit form-horizontal f-s-14">
                <div class="form-group">
                  <label class="col-xs-4 control-label" for="email-field">
                    E-mail:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" type="text" name="email" id="email-field" value="{{currentUser.emails.[0].address}}" placeholder="Enter E-mail">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="first-name-field">
                    First Name:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" type="text" name="first-name" id="first-name-field" value="{{currentUser.personalData.firstName}}" placeholder="Enter First Name">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="last-name-field">
                    Last Name:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" type="text" name="last-name" id="last-name-field" value="{{currentUser.personalData.lastName}}" placeholder="Enter Last Name">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="gender-field">
                    Gender:
                  </label>
                  <div class="col-xs-8">
                    <select class="form-control f-s-14" name="gender" id="gender-field" value="{{currentUser.personalData.gender}}" placeholder="Select Gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="bday-field">
                    Birthday:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" type="date" name="bday" id="bday-field" value="{{currentUser.personalData.bday}}" placeholder="Enter Birthday">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="phone-field">
                    Mobile:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" type="tel" name="phone" id="phone-field" value="{{currentUser.personalData.phone}}" placeholder="Enter Phone Number">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="skype-field">
                    Skype:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" type="text" name="skype" id="skype-field" value="{{currentUser.personalData.skype}}" placeholder="Enter Skype Login">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-4 control-label" for="location-field">
                    Location:
                  </label>
                  <div class="col-xs-8">
                    <input class="form-control f-s-14" id="location-field" type="text" name="location" value="{{currentUser.personalData.location}}" autocomplete="off">
                    <div class="location-result-wrapper">
                      <ul class="location-result invisible">
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-xs-offset-4 col-xs-8">
                  <input class="btn btn-primary" type="submit" value="Save">
                  <a href="#" class="delete-user btn btn-sm btn-danger pull-right">Delete account</a>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>
