<template name="userImage">
  <div class="col-xs-6">

    <div class="m-b-20" id="image-upload">
        <span class="lead">Upload new picture:</span>
    </div>

    <label class="btn btn-default btn-file">
        Browse <input type="file" style="display: none;" class="img-upload">
    </label>

    <div class="m-t-20 m-b-20 user-image text-center">
      <div class="m-b-20 text-left">
        <span class="lead">Current picture:</span>
      </div>
      <div class="m-b-20">
        <div class="image__container">
          <img class="user-uploaded-img" src="{{userImagePath}}" width="200" alt="User Picture">
        </div> 

        <div class="preview__container">
          <img class="preview hidden" src="" width="100" height="100" alt="User Picture Preview">
        </div>
        <!-- <img class="round-preview" src="" width="34" height="34" alt="User Picture Preview"> -->


      </div>


      <div>
        <p class="m-b-10 f-s-14 invisible"><em>Select area to crop and press OK</em></p>
<!--         <button id="cropUserPic" class="btn btn-info pull-left">Crop Picture</button>
        <button id="deleteUserPic" class="btn btn-danger pull-right">Delete Picture</button>
        <button id="acceptCrop" class="btn btn-info pull-left hidden">Ok</button>
        <button id="cancelCrop" class="btn btn-danger pull-right hidden">Cancel</button> -->
      </div>
    </div>
  </div>
</template>
