<template name="sidebar">
<div id="sidebar" class="sidebar">
  <div data-scrollbar="true" data-height="100%">
    <ul class="nav">
      <li class="nav-profile">
        <div class="image">
          <a href="{{pathFor route='profile'}}">
            {{#unless currentUser.personalData.picPath}}
            <img src="/images/user.png" width="80" height="80" alt="User Picture">
            {{else}}
            <img src="/upload/{{currentUser.personalData.picPath}}" width="80" height="80" alt="User Picture">
            {{/unless}}
          </a>
        </div>
        <div class="info">
          {{#if currentUser.personalData.firstName}}
          {{currentUser.personalData.firstName}}
          {{/if}}
          {{#if currentUser.personalData.lastName}}
          {{currentUser.personalData.lastName}}
          {{/if}}
          <small>{{currentUser.username}}</small>
        </div>
      </li>
    </ul>
    <ul class="nav">
<!--       <li>
        <a href="{{pathFor route='contacts'}}">Contacts</a>
      </li> -->
      <li class="has-sub">
        <a href="{{pathFor route='channels'}}">
          <span>
            My channels
          </span>
          <a class="sidebar-addchannel" href="{{pathFor route='addchannel'}}">
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
          </a>
        </a>
        <ul>
          {{#each channels}}
          <li>
            <i class="{{icon}}"></i>
            <a href="{{pathFor route='channel'}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </li>
      <li class="has-sub">
        <a href="{{pathFor route='channels'}}">
          <span>
            Guest channels
          </span>
        </a>
        <ul>
          {{#each guestChannels}}
          <li>
            <i class="{{icon}}"></i>
            <a href="{{pathFor route='channel'}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="sidebar-bg"></div>
</template>
