<template name="channel">

  <h1 class="page-header">Channel - {{name}}</h1>
  <a class="channel__delete btn btn-danger m-b-15 pull-right" href="#">Delete Channel</a>

  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#feed" data-toggle="tab" aria-expanded="true">Feed</a>
        </li>
        <li>
          <a href="#members" data-toggle="tab" aria-expanded="false">Members</a>
        </li>
        <li>
          <a href="#resources" data-toggle="tab" aria-expanded="false">Settings</a>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane fade active in" id="feed">
          <ul class="media-list media-list-with-divider">
            {{#each channelFeed}}
            <li class="media media-sm">

              <span class="pull-left">
                <img class="media-object" src="http://placehold.it/30x30" alt="">
              </span>

              <div class="media-body">
                <h4 class="media-heading">{{name}}</h4>
                <a href="{{shortUrl}}">link</a>
                <p>{{message}}</p>

                {{#each lists}}
                  <div>
                    <p class="m-b-5">
                      {{name}}
                    </p>
                    <ul>
                      {{#each cards}}
                        <li>{{name}}</li>
                      {{/each}}
                    </ul>
                  </div>
                {{/each}}
                <i class="text-muted pull-right">{{dateLastActivity}}</i>
              </div>

            </li>
            {{/each}}

          </ul>
        </div>

        <div class="tab-pane fade" id="members">

          <div class="row">

            <div class="col-md-6">
              <div class="panel panel-inverse">
                <div class="panel-heading">
                  <h4 class="panel-title">Channel Members:</h4>
                </div>
                <div class="panel-body">
                  <ul>
                    {{#each members}}
                      <li>
                        {{username}}
                        <a class="channel__remove-member btn btn-danger m-l-15 m-b-15 m-t-15" href="#" data-userid={{_id}}>Remove</a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel panel-inverse">
                <div class="panel-heading">
                  <h4 class="panel-title">Your Contacts:</h4>
                </div>
                <div class="panel-body">
                  <ul>
                    {{#each contacts}}
                      <li>
                        {{username}}
                        <a class="channel__add-member btn btn-success m-l-15 m-b-15 m-t-15" data-userid="{{_id}}" href="#">add to channel</a>
                      </li>

                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="tab-pane fade" id="resources">
          {{> channelAddResource}}

          <h3>Resources at this channel:</h3>

          <ul class="channel-resource-list">
            {{#each resources}}
              <li>{{name}}</li>
            {{/each}}
          </ul>
        </div>

      </div>

    </div>
  </div>

</template>
