<template name="channel">

  {{> channelList}}

  <div class="channel">

    <div class="channel__inner">

      <div class="channel__header">
        <h3 class="channel__name">{{name}}</h3>
        <div class="channel__functions">
          <a href="{{pathFor route='channel'}}">Flow</a>
          <a class="channel__add-resource" href="{{pathFor route='channel-resources'}}">Resources</a>
          <a class="channel__delete" href="#">Delete Channel</a>
        </div>
      </div>

      {{> channelAddResource}}

      <h3>Resources in this channel:</h3>
      {{#each resources}}
      <p data-id="{{_id}}">{{name}}</p>
      <p>... news from resource ... </p>
      {{/each}}

    </div>

  </div>

</template>
