<template name="addChannel">

  <h1 class="page-header">Channels</h1>

  {{#if currentUser}}

  <div class="row">
    <div class="col-sm-8 col-md-8">
      <div class="panel">
        <div class="panel-body">

          <form class="">
            <fieldset>
              <legend>Creation</legend>

              <div class="service-selector m-b-20">
                <div class="row text-center lead m-b-10">Choose a service:</div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 text-center">
                    <input id="github" type="radio" name="service" value="github" checked>
                    <label class="service-label github" for="github"></label>
                  </div>
                  <div class="col-sm-6 col-md-6 text-center">
                    <input id="trello" type="radio" name="service" value="trello">
                    <label class="service-label trello" for="trello"></label>
                  </div>
                </div>
              </div>

              <div class="auth-service m-b-30">
                <div class="row text-center lead m-b-15">
                  <span class="control-label">Log in service:</span>
                </div>

                <div class="row text-center">
                  <div class="channel-add__github-auth">
                    <a href="https://github.com/login/oauth/authorize?client_id=40ca9788c56b7ce7307f&scope=repo">
                      <button class="github-auth btn btn-white btn-lg" type="button">Log in to Github</button>
                    </a>
                  </div>

                  <div class="channel-add__trello-auth hidden">
                    <button class="trello-auth btn btn-white btn-lg" type="button">Log in to Trello</button>
                  </div>

                </div>
              </div>

              {{> settingsTemplate settingsData}}

              <div class="m-b-30">
                <div class="row text-center lead m-b-10">
                  <span>Enter name for channel:</span>
                </div>

                <div class="row p-l-40 p-r-40">
                  <input class="form-control input-lg m-auto" type="text" name="name" id="name-field" required>
                </div>
              </div>

              <div class="m-b-30 p-l-30 p-r-30">
                <input class="btn btn-primary btn-lg width-full" type="submit" value="Create">
              </div>

            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>

  {{else}}

    <p>You need to login to create Channels.</p>

  {{/if}}

</template>
