<template name="channelList">

  <h1 class="page-header">Channels</h1>

  {{#if currentUser}}

  <div class="row">

    {{#each channels}}
      <a class="" href="{{pathFor route='channel'}}">
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-stats bg-green">

            <div class="stats-info">
              <h4>{{name}}</h4>
            </div>

          </div>
        </div>
      </a>
    {{/each}}

  </div>

  {{> addChannel}}

  {{else}}

    <p>You need to login to view your Channels.</p>

  {{/if}}

</template>
