<template name="addChannel">

  <h1 class="page-header">Create new channel</h1>

  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="panel">
        <div class="panel-body">

          <div class="channel-add__step-1">
            <fieldset>
              <legend>Select service</legend>
              <div class="service-selector m-b-20">
                <div class="row">
                </div>

                <a href="#" class="github service-link"></a>
                <a href="#" class="trello service-link"></a>
                <a href="#" class="bitbucket service-link"></a>

              </div>
            </fieldset>
          </div>

          <div class="channel-add__step-2 hidden">
            <fieldset>
              <legend>Set {{selectedService}} parameters</legend>

              <div class="channel-add__auth-service m-b-30">
                <div class="row text-center lead m-b-15">
                  <span class="control-label">Log in service:</span>
                </div>

                <div class="row text-center">
                  {{> authTemplate clientkey}}
                </div>
              </div>

              <div class="channel-add__settings">
                <div class="m-b-30">
                  <div class="row text-center lead m-b-10">
                    <span>Enter name for channel:</span>
                  </div>

                  <div class="row p-l-40 p-r-40">
                    <input class="form-control input-lg m-auto channel-add__name-field" type="text">
                  </div>
                </div>

                {{> settingsTemplate settingsData}}

                <div class="m-b-30 p-l-30 p-r-30">
                  <button class="btn btn-primary btn-lg channel-add__button-create width-full">Create</button>
                </div>

              </div>

              <div class="row text-center">
                <div class="m-b-30 p-l-30 p-r-30">
                  <button class="btn btn-white btn-lg channel-add__button-back">Back</button>
                </div>
              </div>

            </fieldset>
          </div>

        </div>
      </div>
    </div>
  </div>

</template>
