<template name="channelInvites">
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-inverse border-panel">

        <div class="panel-heading">
          <h4 class="panel-title">Invites</h4>
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Revoke</th>
              </tr>
            </thead>
            <tbody>
              {{#each invitation}}
              <tr>
                <td>{{email}}</td>
                <td>
                  <button class="btn btn-xs btn-warning revoke-invite">Revoke</button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">

          <form class="form-horizontal">
            <fieldset>

              <legend>Invite users by email:</legend>

              <div class="form-group">
                <input type="email" name="email" class="form-control">
              </div>

              <div class="form-group">
                <input class="btn btn-sm btn-success" type="submit" value="Invite">
              </div>
            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>


</template>
