<template name="addChannel">

  <h1 class="page-header">Channels</h1>

  {{#if currentUser}}

  <div class="row">
    <div class="col-md-6">

      <div class="panel">

        <div class="panel-body">
          <form class="form-horizontal">
            <fieldset>
              <legend>Creation:</legend>

              <div class="form-group">
                <label class="col-md-6 control-label" for="type-field">Select type:</label>
                <div class="col-md-6">
                  <select class="channel-add__type form-control" name="type" id="type-field">
                      <option value="github">Github</option>
                      <option value="trello">Trello</option>
                  </select>
                </div>
              </div>

              <div class="service-selector">
                <div class="col-md-6">
                  <input id="github" type="radio" name="service" value="github">
                  <label class="service-label github" for="github"></label>
                </div>
                <div class="col-md-6">
                  <input id="trello" type="radio" name="service" value="trello">
                  <label class="service-label trello" for="trello"></label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-6 control-label" for="name-field">Enter name for channel:</label>
                <div class="col-md-6">
                  <input class="form-control" type="text" name="name" id="name-field" required>
                </div>
              </div>

              <div class="row m-b-10 auth-service">
                <span class="col-md-6 text-right m-t-5">You need to login service:</span>

                <div class="">
                  <div class="channel-add__github-auth col-md-6">
                    <a href="https://github.com/login/oauth/authorize?client_id=40ca9788c56b7ce7307f&scope=repo">
                      <button class="github-auth btn btn-info m-r-5 m-b-5" type="button">Github Auth</button>
                    </a>
                  </div>

                  <div class="channel-add__trello-auth col-md-6 hidden">
                    <button class="trello-auth btn btn-info m-r-5 m-b-5" type="button">Trello Auth</button>
                  </div>

                </div>
              </div>

              {{> settingsTemplate settingsData}}

              <div class="form-group">
                <div class="col-md-6 col-md-offset-6">
                  <input class="btn btn-primary" type="submit" value="Create">
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>

  {{else}}

    <p>You need to login to create Channels.</p>

  {{/if}}

</template>
