<template name="channelAddResource" >

  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Select resource to add:</h4>
        </div>

        <div class="panel-body">
          <form>
            <div class="form-group">
              <select class="form-control" name="resource-to-add">

                {{#each resources}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}

              </select>
            </div>

            <div class="form-group">
              <input class="btn btn-sm btn-success" type="submit" value="Add">
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>

</template>
