<template name="commentsBlock">
<div class="panel overflow-hidden">
  <div class="panel-heading">
    <h3 class="panel-title">
    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{blockIndex}}" aria-expanded="false">
      <i class="fa fa-plus-circle pull-right"></i>
      Comments
    </a>
    </h3>
  </div>
  <div id="collapse{{blockIndex}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">
      <div class="channel-block__comments-wrapper">
        {{#each messages}}
        <li class="">
          <div class="channel-block__comment-wrapper">
            <em>{{author}} wrote on {{dateTime}}</em>
            <div class="channel-block__comment-body semi-bold">
              {{body}}
            </div>
          </div>
        </li>
        {{/each}}
      </div>
      <div class="channel-block__new-comment">
        <textarea class="form-control {{this.sha}}" placeholder="New comment..." rows="5"></textarea>
        <button class="btn btn-white btn-sm channel__add-comment" id="{{this.sha}}">
        Go
        </button>
      </div>
    </div>
  </div>
</div>
</template>