<template name="contacts">

  <h1 class="page-header">Contacts</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">

          <form class="form-horizontal">
            <fieldset>
              <legend>Add contact</legend>

              <div class="form-group">
                <label class="col-md-6 control-label" for="login-field">Enter User id:</label>
                <div class="col-md-6">
                  <input class="form-control" type="text" name="login" id="login-field" required>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-6">
                  <input class="btn btn-sm btn-primary" type="submit" value="Add">
                </div>
              </div>

            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Contacts</h4>
        </div>

        <ul class="registered-users-list clearfix">
          {{#each contacts}}
            <li>
              <img src="http://placehold.it/80x80" alt="User avatar">
              <h4 class="username text-ellipsis">{{profile.firstName}} {{profile.lastName}} <small>({{username}})</small></h4>
            </li>
          {{/each}}
        </ul>

        <div class="panel-footer">

        </div>

      </div>
    </div>

  </div>


</template>
