<template name="contacts">

  <h1 class="page-header">Contacts</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">

          <form class="form-horizontal">
            <fieldset>
              <legend>Add contact</legend>

              <div class="form-group">
                <label class="col-md-6 control-label" for="login-field">Enter User id:</label>
                <div class="col-md-6">
                  <input class="form-control" type="text" name="login" id="login-field" required>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-6">
                  <input class="btn btn-sm btn-primary" type="submit" value="Add">
                </div>
              </div>

            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>


  {{#if contacts.toShow}}
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Contacts</h4>
        </div>

        <ul class="registered-users-list clearfix">
          {{#each contacts.data}}
            <li>
              <a href=""><img src="http://placehold.it/80x80" alt="User avatar"></a>
              <h4 class="username text-ellipsis">{{profile.firstName}} {{profile.lastName}} <small>({{username}})</small></h4>
              <button id="{{_id}}" class="btn btn-xs btn-primary contacts__remove-contact">Remove</button>
            </li>
          {{/each}}
        </ul>

        <div class="panel-footer">

        </div>

      </div>
    </div>

  </div>
  {{/if}}


  {{#if requestsFromUsers.toShow}}
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Requests from users</h4>
        </div>

        <ul class="registered-users-list clearfix">
          {{#each requestsFromUsers.data}}
            <li>
              <a href=""><img src="http://placehold.it/80x80" alt="User avatar"></a>
              <h4 class="username text-ellipsis">{{profile.firstName}} {{profile.lastName}} <small>({{username}})</small></h4>
              <button id="{{_id}}" class="btn btn-xs btn-primary contacts__accept-contact-request">Accept</button>
              <button id="{{_id}}" class="btn btn-xs btn-primary contacts__reject-contact-request">Decline</button>
            </li>
          {{/each}}
        </ul>

        <div class="panel-footer">

        </div>

      </div>
    </div>

  </div>
  {{/if}}

  {{#if requestsToUsers.toShow}}
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Requests to users</h4>
        </div>

        <ul class="registered-users-list clearfix">
          {{#each requestsToUsers.data}}
            <li>
              <a href=""><img src="http://placehold.it/80x80" alt="User avatar"></a>
              <h4 class="username text-ellipsis">{{profile.firstName}} {{profile.lastName}} <small>({{username}})</small></h4>
              <button id="{{_id}}" class="btn btn-xs btn-primary contacts__cancel-contact-request">Cancel</button>
            </li>
          {{/each}}
        </ul>

        <div class="panel-footer">

        </div>

      </div>
    </div>

  </div>
  {{/if}}

  {{#if rejectedUsers.toShow}}
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-inverse">

        <div class="panel-heading">
          <h4 class="panel-title">Rejected requests</h4>
        </div>

        <ul class="registered-users-list clearfix">
          {{#each rejectedUsers.data}}
            <li>
              <a href=""><img src="http://placehold.it/80x80" alt="User avatar"></a>
              <h4 class="username text-ellipsis">{{profile.firstName}} {{profile.lastName}} <small>({{username}})</small></h4>
            </li>
          {{/each}}
        </ul>

        <div class="panel-footer">

        </div>

      </div>
    </div>

  </div>
  {{/if}}

</template>
