<template name="groupList">

  <div class="group-list">

    <div class="group-list__inner">

      {{#if currentUser}}

        {{> addGroup}}

        <div class="group-list__list-wrap">

          <p class="group-list__header">List of groups:</p>

          <ul class="group-list__list">
            {{#each groups}}
            <li class="group-list__item">
              <a class="group-list__link" href="{{pathFor route='group'}}">{{name}}</a>
            </li>
            {{/each}}
          </ul>

        </div>

        <p>ID of a selected Group: {{_id}}</p>

      {{else}}

        <p>You need to login to view your Groups.</p>

      {{/if}}
    </div>

  </div>

</template>
