<template name="header">

  <header class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="navbar-logo"></span>Soshace Channels</a>
      </div>

      <ul class="nav navbar-nav pull-right">
        {{#if currentUser}}
          <li>
            <a href="{{pathFor route='profile'}}">Profile</a>
          </li>
          <li>
            <a class="logout" href="#">Logout</a>
          </li>
        {{else}}
          <li>
            <a href="{{pathFor route='register'}}">Register</a>
          </li>

          <li>
            <a href="{{pathFor route='login'}}">Login</a>
          </li>
        {{/if}}
      </ul>

    </div>
  </header>

  {{#if currentUser}}
    {{> sidebar}}
  {{/if}}

</template>
