<template name="login">

  <div class="login">

    <div class="login__inner">

      <h2 class="login__header">Login</h2>

      <form>
        <p>
          <label for="email-field">Your Email:</label>
          <input type="email" name="email" id="email-field">
        </p>
        <p>
          <label for="password-field">Your Password:</label>
          <input type="password" name="password" id="password-field">
        </p>
        <p><input type="submit" value="Log in"></p>
      </form>

    </div>

  </div>

</template>
