<template name="login">

  <div class="panel">
    <div class="panel-body">

      <form class="form-horizontal">
        <fieldset>
          <legend>Login</legend>

          <div class="form-group">
            <label class="col-md-2 control-label" for="email-field">Your Email:</label>
            <div class="col-md-4">
              <input class="form-control" type="email" name="email" id="email-field" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="password-field">Your Password:</label>
            <div class="col-md-4">
              <input class="form-control" type="password" name="password" id="password-field" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
              <input class="btn btn-sm btn-primary" type="submit" value="Register">
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>

</template>
