<template name="navigation">
  <nav>
    <ul>
      <li><a href="{{pathFor route='flow'}}">Flow</a></li>
      <li><a href="{{pathFor route='groups'}}">Groups</a></li>
      <li><a href="{{pathFor route='resources'}}">Resources</a></li>
      <li><a href="{{pathFor route='about'}}">About</a></li>
      {{#if currentUser}}
        <li><a href="#" class="logout">Logout</a></li>
      {{else}}
        <li><a href="{{pathFor route='register'}}">Register</a></li>
        <li><a href="{{pathFor route='login'}}">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</template>
