<template name="navigation">

  <ul class="nav">

    <li>
      <a href="{{pathFor route='channels'}}">Channels</a>
    </li>

    <li>
      <a href="{{pathFor route='resources'}}">Resources</a>
    </li>

    {{#if currentUser}}
      <li>
        <a href="{{pathFor route='services'}}">Services</a>
      </li>

      <li>
        <a class="logout" href="#">Logout</a>
      </li>

    {{else}}
      <li>
        <a href="{{pathFor route='register'}}">Register</a>
      </li>

      <li>
        <a href="{{pathFor route='login'}}">Login</a>
      </li>
    {{/if}}

  </ul>

</template>
