<template name="profile">

  <h1 class="page-header">
    Profile
    <a href="#" class="delete-user btn btn-danger pull-right">Delete account</a>
  </h1>


    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-inverse">

          <div class="panel-heading">
            <h4 class="panel-title">Base info</h4>
          </div>

          <div class="panel-body f-s-14">
            <p class="row m-b-10">
              <div class="col-sm-4 col-md-4 text-right f-w-600">ID:</div>
              <div class="col-sm-8 col-md-8">{{currentUser.username}}</div>
            </p>

            <p class="row m-t-20 m-b-20">
              <div class="col-sm-4 col-md-4 text-right f-w-600">E-mail: </div>
              <div class="col-sm-8 col-md-8">{{currentUser.emails.[0].address}}</div>
              {{#unless currentUser.emails.[0].verified}}
                <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8">
                  <span class="label label-warning">Need to verify</span>
                </div>
                <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8">
                  <a class="resend-verification-link btn btn-link f-s-12" href="#">Resend verification link</a>
                </div>
              {{else}}
                <div class="col-md-offset-4 col-md-8">
                  <span class="label label-success">Verified</span>
                </div>
              {{/unless}}
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h4 class="panel-title">Additional info (click to edit)</h4>
          </div>
          <div class="panel-body">

            <form class="user-info form-horizontal f-s-14">
              <div class="form-group">
                <label class="col-md-4 control-label f-w-600" for="first-name-field">
                  First Name:
                </label>
                <div class="col-md-8">
                  <input class="form-control f-s-14" type="text" name="first-name" id="first-name-field" value="{{currentUser.profile.firstName}}" placeholder="Enter First Name">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label f-w-600" for="last-name-field">
                  Last Name:
                </label>
                <div class="col-md-8">
                  <input class="form-control f-s-14" type="text" name="last-name" id="last-name-field" value="{{currentUser.profile.lastName}}" placeholder="Enter Last Name">
                </div>
              </div>

              <div class="col-md-offset-4 col-md-4">
                <input class="btn btn-sm btn-primary" type="submit" value="Save">
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <h4>Services</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-inverse">
          <div class="panel-body">
            {{#each currentUser.profile.serviceTokens}}
            <div class="row">
              {{#if token}}
                <div class="col-xs-3">
                  <div class="alert alert-success fade in">
                    <span class="f-w-600">ON</span>
                   </div>
                </div>
                <div class="col-xs-6 p-t-5">
                  <button type="button" id="{{serviceName}}" class="sign-out-service btn btn-white">
                    Disconnect {{serviceName}}
                  </button>
                </div>
              {{else}}
                <div class="col-xs-3">
                  <div class="alert alert-info fade in">
                    <span class="f-w-600">OFF</span>
                  </div>
                </div>
                <div class="col-xs-6 p-t-5">
                  <a class="btn btn-white" href="{{pathFor route='addchannel'}}">Connect service and create new channel</a>
                </div>
              {{/if}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

</template>
