<template name="resourceList">

  <div class="resource-list">

    <div class="resource-list__inner">

      {{> addResource}}

      <div class="resource-list__list-wrap">

        <p class="resource-list__header">List of resources:</p>

        <ul class="resource-list__list">
          {{#each resources}}
          <li class="resource-list__item">
            <a class="resource-list__link" href="{{pathFor route='resource'}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>

      </div>

      <p>ID of a selected Resource: {{_id}}</p>

    </div>

  </div>

</template>
