<template name="resourceList">

  <h1 class="page-header">Resources</h1>

  {{#if currentUser}}

  <div class="row">

    {{#each resources}}
    <a class="" href="{{pathFor route='resource'}}">
      <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-purple">

          <div class="stats-info">
            <h4>{{name}}</h4>
          </div>

        </div>
      </div>
    </a>
    {{/each}}

  </div>

  {{> addResource}}

  <p>ID of a selected Channel: {{_id}}</p>

  {{else}}

    <p>You need to login to view your Resources.</p>

  {{/if}}

</template>
