<template name="services">

  <h1 class="page-header">Services</h1>

  {{#if currentUser}}
    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h4 class="panel-title">Your local info</h4>
          </div>
          <div class="panel-body">
            <p><strong>Email:</strong> {{currentUser.emails.[0].address}}</p>
            <p><strong>ID:</strong> {{currentUser.username}}</p>
            {{#if currentUser.profile.firstName}}
              <p><strong>First Name:</strong> {{currentUser.profile.firstName}}</p>
            {{/if}}
            {{#if currentUser.profile.lastName}}
              <p><strong>Last Name:</strong> {{currentUser.profile.lastName}}</p>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h4 class="panel-title">Change info</h4>
          </div>
          <div class="panel-body">
            <form class="user-info">
              <div class="form-group">
                <input class="form-control" type="text" name="first-name" placeholder="Enter first name">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="last-name" placeholder="Enter last name">
              </div>

              <input class="btn btn-sm btn-primary" type="submit" value="Save">
            </form>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-inverse">

          <div class="panel-heading">
            <h4 class="panel-title">Trello Auth</h4>
          </div>

          <div class="panel-body">
            <button class="trello-auth btn btn-info m-r-5 m-b-5" type="button">Go Auth</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-inverse">

          <div class="panel-heading">
            <h4 class="panel-title">Github Auth</h4>
          </div>

          <div class="panel-body">
            <a href="https://github.com/login/oauth/authorize?client_id=40ca9788c56b7ce7307f&scopes=repo">
              <button class="github-auth btn btn-info m-r-5 m-b-5" type="button">Go Auth</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{else}}

    <p>You need to login.</p>

  {{/if}}

</template>
