<template name="settings">

  <div class="settings">
    <div class="settings__inner">
      {{#if currentUser}}

        <h2>Page with User Settings</h2>

        <p>Your login: {{currentUser.emails.[0].address}}</p>
        <p>Your ID: {{currentUser._id}}</p>
        <h3>Your Channels: </h3>
        {{#each channels}}
        <p>{{name}}</p>
        {{/each}}

        <h3>Your Resources: </h3>
        {{#each resources}}
        <p>{{name}}</p>
        {{/each}}

        <h3>Your Trello data</h3>
        <p>Key: {{currentUser.trelloData.apikey}}</p>
        <p>Login: {{currentUser.trelloData.login}}</p>
        <p>Password: {{currentUser.trelloData.password}}</p>

        <h3>Save/change trello's data to user account</h3>
        <form>
          <input type="text" name="trello-key" placeholder="enter key">
          <input type="text" name="trello-login" placeholder="enter login">
          <input type="text" name="trello-password" placeholder="enter password">
          <input type="submit" value="save">
        </form>

      {{else}}
        <p>You need to login.</p>

      {{/if}}
    </div>
  </div>

</template>
